/* Corpo e Container */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#main-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}

#container {
    flex: 2;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}

.title-green { color: darkgreen; }
.title-blue { color: darkblue; }
.title-black { color: black; }
.title-red { color: red; }

#input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#hex_input {
    width: 100%;
    height: 198px;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 50px; /* Aumenta o espaço entre o input e os botões */
    box-sizing: border-box;
}

.button-container {
    display: flex;
    gap: 10px;
}

#convert, #save-entry, #exportSvg {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#convert {
    background-color: #4CAF50;
}

#save-entry {
    background-color: #007bff;
}

#exportSvg {
    background-color: #4CAF50;
}

#convert:hover { background-color: #45a049; }
#save-entry:hover { background-color: #0069d9; }
#exportSvg:hover { background-color: #3e8e41; }

#entries-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#entries-section h2 {
    text-align: center;
}

#entries-list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
}

#entries-list li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
}

.play-button, .copy-button, .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button:hover { background-color: rgba(198, 248, 200, 0.44); }
.copy-button:hover { background-color: rgba(175, 149, 149, 0.44); }
.delete-button:hover { background-color: rgba(255, 74, 74, 0.44); }

.play-icon, .copy-icon, .trash-icon {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

#output-container {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#output-section {
    width: 70%;
    max-width: 1200px;
    background-color: #f7f7f7;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#output {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    font-size: 14px;
}

.highlight-content {
    color: red;
    font-weight: bold;
}

.highlight-tag {
    color: darkgreen;
    font-weight: bold;
}

.highlight-type {
    color: darkblue;
    font-weight: bold;
}

.line-container {
    position: relative;
    padding: 4px 0;
    transition: background-color 0.3s ease;
}

.line-container:hover {
    background-color: rgba(200, 200, 200, 0.3); /* Destaca a linha com uma cor de fundo clara */
}

.line-container:hover::after {
    content: attr(data-tag);
    position: absolute;
    left: 90%;
    margin-left: 5px;
    padding: 4px 8px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
    border: 1px solid #ddd;
}
